:root {
    --bg-color: #EFEFEF;
    --bg-black-color: #232323;
    --red-color: #E52935; 
    --text-black: #232323;
    --text-white: #FAFAFA;
    --blue-back: #7dbce6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Staatliches", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-black);
    font-size: 28px;
    overflow: hidden;
    padding: 1rem;
    gap: 4rem;
}


header h1 {
    font-size: clamp(42px, 6vw, 80px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-sub {
    font-size: clamp(32px, 4vw, 32px);
    color: var(--red-color);
}

header { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

a{
    text-decoration: none;
}

h3 {
    font-size: clamp(20px, 6vw, 24px);
}

p {
    font-size: clamp(20px, 2vw, 24px);
    font-family: "Inter", sans-serif;
    font-style: normal;
}

strong {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.highlight {
    color: var(--red-color);
}

.highlight_inter {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: var(--red-color);
}

.cta-button {
    display: block;
    text-align: center;
    width: 60%;
    max-width: 20rem;
    background-color: var(--bg-black-color);
    color: var(--text-white);
    font-size: 3rem;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.1s;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.55),
    inset -2px -2px 0px 0px #ffffff2e;
}

.cta-button:active {
    transform: scale(0.98);
}


/* //////// MAIN PAGE ///////// */


.campaign-container {
    background-color: var(--bg-color);
    width: 100%;
    max-width: 400px; 
    padding: 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.instructions {
    text-align: center;
    color: var(--text-black);
    margin-bottom: 30px;
    line-height: 1.4;
}

.instructions h4 {
    text-transform: uppercase;
    margin-bottom: 5px;
}



/* Formulaire */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--text-black);
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 1rem;
    outline: none;
    border-radius: 0;
}

input:focus, select:focus {
    border-bottom-color: var(--text-black);
}

.checkbox-group {
    margin-bottom: 30px;
}

.custom-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 0.75rem;
    color: #555;
    line-height: 1.3;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 20px;
    width: 20px;
    min-width: 20px;
    background-color: transparent;
    border: 2px solid var(--text-black);
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: var(--red-color);
    border-color: var(--red-color);
}

.text{
    font-size: clamp(14px, 6vw, 16px);
}



/* ////// PREFERENCES PAGE ////// */

.main_preference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--bg-color);
    max-width: 360px;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.question-block {
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: none !important;
}

.btn-red {
    height:5rem;
    width: 15rem;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: var(--bg-color);
    font-size: clamp(24px, 6vw, 24px);
    background-color: var(--red-color);
    border-radius: 5px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25),
    inset -2px -2px 0px 0px #ffffff80;
}

.btn-play {
    background-color: var(--black);
    color: white;
    width: 90%;
    padding: 15px;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 4px 4px 0px 0px var(--gray-shadow);
}

.btn-back {
    width: 64px;
    height: 64px;
    background-color: var(--blue-back);
    color: var(--text-white);
    font-size: 2rem;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 5px 8px 0px rgba(0, 0, 0, 0.25);

}

.footer-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* ////// RESULT PAGE ////// */

.main_result {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.social_networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.social_networks p {
    text-align: center;
}

.congratulation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    gap: 6rem;
    container-type: inline-size;
}

.congratulation h1 {
    text-align: center;
    font-size: clamp(56px, 6vw, 86px);
}

.congratulation h2 {
    text-align: center;
    font-size: clamp(26px, 6cqw, 42px);
}

.congratulation h3 {
    text-align: center;
    font-size: clamp(24px, 6vw, 32px);
}

.congratulation p {
    text-align: center;
}

.how-to-use {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button {
    text-align: center;
    text-decoration: none;
    padding: .5rem 2rem;
    font-size: clamp(24px, 6vw, 64px);
    background-color: rgb(35, 35, 35);
    width: 100%;
    max-width: 360px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Decors Stickers */
.overlay-stickers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 10;
    pointer-events: none;
}

.right {
    object-position: right;
}

.left {
    object-position: left;
}

.bottom-left { 
    bottom: -4rem; 
    left: -4rem; 
}

.bottom-right { 
    bottom: -4rem; 
    right: -4rem; 
}

.top-left { 
    top: -4rem; 
    left: -4rem; 
}

.top-right { 
    top: -4rem; 
    right: -4rem; 
}


.stickers-container-mobile {
    display: none;
}

.stickers-container-medium {
    display: none;
}

.game {
    width: 100%;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_timer_score {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 920px;
    padding: 0 10px;
}

.t_score {
    flex: 1 1 120px;
    max-width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    transform: translateY(-4px);
    background-color: #DBDBDB;
    border: 6px solid #FAFAFA;
    border-radius: 5px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.blackboard {
    position: relative;
    width: 100%;
    max-width: 920px;
    height: 60vh;
    max-height: 600px;
    background-color: #232323;
    border: 12px solid #232323;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

/* Responsive */

/* Medium screen */
@media (max-width: 1240px) {
    .overlay-stickers {
        display: none;
    }

    .overlay-stickers-medium {
        position: absolute;
        width: auto;
        height: 100%;
    }

    .left {
        left: -6vw
    }

    .right {
        right: -6vw;
    }

    .stickers-container-medium {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        pointer-events: none;
        z-index: 10;
    }

    .congratulation {
        gap: 6rem;
    }
}

/* Medium-Small Screen */
@media (max-width: 1040px) {
    header {
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .game {
        width: 90%;
    }

    .overlay-stickers {
        display: none;
    }

    .overlay-stickers-medium {
        display: none;
    }

    .sticker {
        position: absolute;
        width: 30vw;
        max-width: 800px;
    }

    .stickers-container-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        pointer-events: none;
        z-index: 10;
    }

}


/* Mobile */
@media (max-width: 820px) {
    main {
        gap: 1rem;
    }

    header {
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .overlay-stickers {
        display: none;
    }


    .overlay-stickers-medium {
        display: none;
    }

    .sticker {
        position: absolute;
        width: 30vw;
        max-width: 800px;
    }

    .stickers-container-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        pointer-events: none;
        z-index: 10;
    }

    .bottom-left { 
        bottom: -1rem; 
        left: -1rem; 
    }

    .bottom-right { 
        bottom: -1rem; 
        right: -1rem; 
    }

    .top-left { 
        top: -1rem; 
        left: -1rem; 
    }

    .top-right { 
        top: -1rem; 
        right: -1rem; 
    }

    .game {
        width: 90%;
        flex-direction: column-reverse;
    }

    /* Preference page */
    .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    }

    .question-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

}

